<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">Lawyers</h5>
          <div class="d-flex justify-content-between align-items-center mb-3">
           <%= search_form_for @q, url: lawyers_path, method: :get, class: "d-flex" do |f| %>
             <%= f.search_field :name_or_email_or_phone_cont, placeholder: "Search...", class: "form-control me-2" %>
           <% end %>
           <%= link_to 'New Lawyer', new_lawyer_path, class: 'btn btn-primary' %>
         </div>
          <%= render "lawyers/index" %>
      </div> 
    </div>
  </section>
</main>