<h1>Set your password for Law Management System</h1>

<p>Hello <%= @user.email %>,</p>

<p>Click the link below to set your password and access your account:</p>

<p><a href="<%= edit_password_url(@user, reset_password_token: @token) %>">Set your password</a></p>

<p>If you did not request this, please ignore this email.</p>

<p>Thanks,<br>Law Management Team</p>
