<main id="main" class="main">
  <section class="section">
    <div class="card">
     <div class="card-body">
        <h5 class="card-title fw-bold mb-5 d-flex justify-content-between align-items-center">
         <%= @invoice&.invoice_number %>
         <%= link_to invoices_path, class: "text-secondary" do %>
            <i class="bi bi-x-circle fs-2"></i>
         <% end %>
        </h5>
        <%= render "invoices/form" %>
      </div>
    </div>
  </section>
</main>