<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">New Invoice</h5>
          <%= render "invoices/form" %>
      </div>
    </div>
  </section>
</main>
