<div class="card">
  <div class="card-body">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <i class="bi bi-star me-1"></i>
        A simple primary alert with icon—check it out!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>