<% flash.each do |key, message| %>
  <% 
    bootstrap_class, icon_class = case key.to_sym
      when :notice
        ["alert-success", "bi bi-check-circle"]
      when :alert
        ["alert-danger", "bi bi-exclamation-triangle"]
      when :error
        ["alert-danger", "bi bi-x-circle"]
      when :warning
        ["alert-warning", "bi bi-exclamation-diamond"]
      else
        ["alert-primary", "bi bi-info-circle"]
    end 
  %>

  <div class="alert <%= bootstrap_class %> alert-dismissible fade show" role="alert">
    <i class="<%= icon_class %> me-1"></i>
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
