<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">New Judge</h5>
        <%= render "judges/form" %>
      </div>
    </div>
  </section>
</main>