<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link " href="/dashboards">
        <i class="bi bi-grid"></i>
          <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-people-fill"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/clients">
            <i class="bi bi-circle"></i><span>Clients</span>
          </a>
        </li>
        <li>
          <a href="/lawyers">
            <i class="bi bi-circle"></i><span>Team Members</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" href="/court_cases">
        <i class="bi bi-briefcase"></i><span>Cases</span></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" href="/tasks">
        <i class="bi bi-list-task"></i><span>Tasks</span></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" href="/appointments">
        <i class="bi bi-calendar-check"></i><span>Appointments</span></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-cash-stack"></i><span>Earnings</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/services">
            <i class="bi bi-circle"></i><span>Service</span>
          </a>
        </li>
        <li>
          <a href="/invoices">
            <i class="bi bi-circle"></i><span>Invoice</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/categories">
            <i class="bi bi-circle"></i><span>Case Type</span>
          </a>
        </li>
        <li>
          <a href="/judges">
            <i class="bi bi-circle"></i><span>Judge</span>
          </a>
        </li>
        <li>
          <a href="/roles/">
            <i class="bi bi-circle"></i><span>Role</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" href="<%= profile_path %>">
        <i class="bi bi-person-workspace"></i><span>Profile</span></i>
      </a>
    </li>

    
  </ul>
</aside>
